@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
#scroll-start {
  font-family: Caveat, sans-serif;
}
#sometimes-good {
  font-family: Caveat, sans-serif;
}
#loop {
  animation: loop-scroll 50s linear infinite;
}
#myName {
  background: linear-gradient(85deg, #77e4c8, #36c2ce, #478ccf, #4535c1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#projetcs {
  font-family: Caveat, sans-serif;
  background-color: #088395;
}
#contactMe {
  font-family: Caveat, sans-serif;
}
#class1 {
  background-color: #481e14;
}
#span-1 {
  background: linear-gradient(30deg, #77e4c8, #36c2ce, #478ccf, #4535c1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#span-2 {
  background: linear-gradient(15deg, #000, #074173, #1679ab);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#about-me {
  font-family: Caveat, sans-serif;
}
#aboutMe {
  font-family: Poppins, sans-serif;
}
#aboutMe2 {
  font-family: Poppins, sans-serif;
}
#tech-stack {
  font-family: Caveat, sans-serif;
}

#change-one {
  background-color: #000;
  color: #ebf4f6;
}

#change-two {
  color: #ebf4f6;
}
.stairs {
  background: #37b7c3;
}
#aboutmetwo {
  font-family: Poppins, sans-serif;
}
::-webkit-scrollbar {
  width: 0.5em;
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #37b7c3;
  border-radius: 15px;
  cursor: pointer;
}

@keyframes loop-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
